<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body onscroll="vm.scroll()">
    
    <div id="app" class="container">

      <div class="row" id="list-cantainer" >

      <template v-for="(item, index) in items">
          <a :id="index + 1"></a>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
            <div class="row">
              <div class="col-sx-12">
                <div class="thumbnail">
                  <img :src="item.p" alt="...">
                  <div class="caption">
                    <h6 style="line-height: 2;">
                      <span class="label label-primary" @click="filter()" style="cursor: pointer;">{{ index + 1 }}</span>&shy;
                      <template v-for="label in item.l">
                        <span class="label" :class="'label-' + label.c" @click="filter(label.v)" style="cursor: pointer;">
                            {{ label.v }}
                        </span>&shy;
                      </template>
                    </h6>
                    <p> {{ item.h }} </p>
                    <p><a href="javascript:;" class="btn btn-primary" @click="play(index)" role="button">播放</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div v-if="(index + 1) % 2 == 0 " class="clearfix visible-sm-block"></div>
          <div v-if="(index + 1) % 3 == 0 " class="clearfix visible-md-block"></div>
          <div v-if="(index + 1) % 4 == 0 " class="clearfix visible-lg-block"></div>
          
        </template>
        <div class="col-xs-12" :class="end">
          <p class="h3 text-warning" style="text-align: center;">没有更多了！</p>
        </div>
        <!-- /row -->
      </div>
      <!-- player -->
      
      <div class="row" :class="{ hidden: hidden }" onclick="document.getElementById('contro-bar').focus()">
        
        <nav class="navbar navbar-default" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="javascript:;" @click="goback">
                 &lt;back 
                 <span class="label label-default" v-show="playbackRate != 1">
                 {{ playbackRate }}
                  倍
                </span>
              </a>
              <p class="navbar-text" style="line-height: 1.78">
                <template v-for="(label, index) in labels">
                  <span class="label" :class="'label-' + label.c" @click="filter(label.v,true)" style="cursor: pointer;">
                      {{ label.v }}
                  </span>&shy;
                </template> 
              </p>
            </div>
            <!-- /navbar-header -->
          </div>
        </nav>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <video id="playbox" width="100%" controls preload muted name="media" :poster="poster" :src="source" type="video/mp4">
          </video>
          <button style="border:none;margin:0;padding:0;"  id="contro-bar" @keyup="keyhandle('playbox')"></button>
        </div>
      </div>
    </div>

   <script type="text/javascript" src="js/vue.min.js"></script> 
   <script type="text/javascript" src="js/index.js"></script>
   <script type="text/javascript" src="js/data.js"></script>
     
  </body>
</html>