<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      div#list-cantainer h6 span abbr[title],#app div nav div div p span.label abbr{
        border-bottom: none;
      }
    </style>
  </head>
  <body id="body" onscroll="vm.scroll()" onload="vm.loaded()" onresize="vm.resize()">
    
    <div id="app" class="container">

      <div class="row" id="list-cantainer" >
        <!-- 第一列 -->
        <div id="items-1" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
          <template v-for="(item, index) in rows.one" >
            <rows :item="item" :index="index" :col='1' :row="getrows()" :filter="filter" :play="play">
          </template>
        </div>
        <!-- 第二列 -->
        <div id="items-2" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs " >
          <template v-for="(item, index) in rows.two" >
            <rows :item="item" :index="index" :col='2' :row="getrows()" :filter="filter" :play="play">
          </template>
        </div>
        <!-- 第三列 -->
        <div id="items-3" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs hidden-sm" >
          <template v-for="(item, index) in rows.three">
            <rows :item="item" :index="index" :col='3' :row="getrows()" :filter="filter" :play="play">
          </template>
        </div>
        <!-- 第四列 -->
        <div id="items-4" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs hidden-sm hidden-md" >
          <template v-for="(item, index) in rows.four">
            <rows :item="item" :index="index" :col='4' :row="getrows()" :filter="filter" :play="play">
          </template>
        </div>
        <div class="col-xs-12" :class="end">
          <p class="h3 text-warning" style="text-align: center;">没有更多了！</p>
        </div>
        <!-- /row -->
      </div>
      <!-- player -->
      
      <div class="row" :class="{ hidden: hidden }" onclick="document.getElementById('contro-bar').focus()">
        
        <nav class="navbar navbar-default" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="javascript:;" @click="goback">
                 &lt;back 
                 <span class="label label-default" v-show="playbackRate != 1">
                 {{ playbackRate }}
                  倍
                </span>
              </a>
              <p class="navbar-text" style="line-height: 1.78">
                <template v-for="(label, index) in labels">
                  <span class="label" :class="'label-' + label.c" @click="filter(label.v,true)" style="cursor: pointer;">
                      <abbr :title="label.z">{{ label.v }}</abbr>
                  </span>
                  &shy;&shy;
                </template> 
              </p>
            </div>
            <!-- /navbar-header -->
          </div>
        </nav>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <video id="playbox" width="100%" controls preload muted name="media" :poster="poster" :src="source" type="video/mp4">
          </video>
          <button style="border:none;margin:0;padding:0;"  id="contro-bar" @keyup="keyhandle('playbox')"></button>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
   
  </body>
</html>